:root {
  --yellow: #FABA58;
  --blue: #0C394D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  color: var(--blue);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: sticky;
  top: -1px;
  background-color: white;
  z-index: 1;
  box-shadow: 0 1px 10px rgba(12, 58, 77, 0.4);
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2rem;
}

section {
  padding: 50px 25px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  line-height: 2rem;
}

#logo {
  width: 90px;
  height: auto;
}

#nav-bar {
  background-color: white;
  width: 40vw;
  position: absolute;
  right: 0;
  top: -200px;
  padding: 10px 0 10px 20px;
  box-shadow: -1px 5px 5px rgba(12, 58, 77, 0.4);
}

#nav-bar li {
  list-style: none;
  font-size: 1.1rem;
  line-height: 2.5rem;
}

#nav-bar li a {
  text-decoration: none;
  color: var(--blue)
}

#mobile-menu-icon {
  display: block;
  font-size: 20px;
  text-align: end;
}

.menu-open {
  animation: menu-open .7s;
}

.menu-close {
  animation: menu-close .7s;
}

#title {
  position: relative;
  top: 0;
  display: flex;
  width: 100%;
  height: 50vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0;
}

#video {
  height: 100%;
}

#logo-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  min-width: 100%;
  height: 100%;
  background-color: rgba(12, 58, 77, 0.6);
  font-size: 2.5rem;
}

#logo-container img {
  max-width: 60%;
}

#company hr {
  width: 50%;
  margin: 25px auto;
  border: 1px solid rgba(12, 58, 77, 0.4);
}

#what-we-do {
  background-color: var(--yellow);
}

.slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#services-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content:center;
  height: 300px;
}

.service-img {
  width: 120px;
  height: auto;
  border-radius: 2px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.service h3 {
  font-size: 1.3rem;
}

.service p {
  font-size: 1.1rem;
}

.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 45vh;
}

.slider-container img{
  width: 190px;
  height: 172px;
}

.slider button {
  cursor: pointer;
  width: auto;
  padding: 15px;
  color: var(--blue);
  font-weight: bold;
  font-size: 25px;
  transition: 0.3s ease;
  border: none;
  border-radius: 50%;
  background-color: transparent;
}

.slider button:hover {
  background-color: rgba(255,255,255,0.3)
}

#partners-container {
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#partners-container img {
  width: 60vw;
  max-width: 300px;
  opacity: 0.85;
}

#applications {
  background-color: var(--blue);
  color: white;
}

#applications-container {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  gap: 15px;
  justify-content: center;
  align-items: flex-start;
}

#applications-container .card-parent {
  width: 100%;
}

#applications-container .card {
  border: 2px solid rgba(255, 255, 255, 0.5);
  display: flex;
  padding: 30px 20px;
  justify-content: space-between;
  width: 100%;
  transition: background-color .3s;
}

#applications-container .card:hover {
  background-color: #ffffff15;
}

.app-images-container {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  gap: 40px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  height: 260px;
  background-color: #ffffff15;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.app-images-container img {
  width: 200px;
  height: 150px;
  margin-bottom: 15px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.app-images-container::-webkit-scrollbar {
  height: 8px;
}

.app-images-container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

.app-images-container::-webkit-scrollbar-thumb:hover {
  background: #aaa;
} 

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-bottom: 25px;
}

#profile-pic img {
  width: 250px;
  height: auto;
  box-shadow: 1px 1px 6px var(--blue);
  border-radius: 15%;
}

#about-text p {
  width: 80%;
  margin: auto;
  margin-top: 15px;
  line-height: 1.3rem;
  text-align: left;
}

#feedbacks .slider {
  margin: 10px 0;
}

#shown-feedback p {
  text-align: left;
  position: relative;
  font-size: 1rem;
}

#shown-feedback p::before {
  content: '“';
  position: absolute;
  font-size: 6rem;
  top: -25px;
  left: -45px;
  font-family: cursive;
  opacity: 0.5;
}

#shown-feedback h4 {
  text-align: end;
  font-size: 1rem;
}

#contact {
  background-color: var(--yellow);
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

#contact-info {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 30px;
  text-align: left;
}

#contact-info .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#contact-info li {
  list-style: none;
  font-size: 1.1rem;
  line-height: 40px;
}

#info a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

#info a:visited{
  color: var(--blue)
}

#contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#contact-form input, #contact-form textarea, #contact-form button {
  padding: 5px;
  font-size: 1rem;
  font-family: sans-serif;
}

#contact-form input, #contact-form textarea {
  border: none;
  border-bottom: 1px solid rgba(12, 58, 77, 0.7);
  background-color: transparent;
  color: var(--blue);
}

#contact-form input::placeholder, #contact-form textarea::placeholder {
  color: var(--blue);
  opacity: 0.8;
}

#contact-form input:focus, #contact-form textarea:focus {
  outline: none;
  border-bottom: 2px solid rgba(12, 58, 77, 1);
}

#contact-form button:disabled {
  opacity: 0.4;
}

#contact-form button:hover:enabled {
  opacity: 1;
  cursor: pointer;
}

#contact-form button {
  width: 50%;
  align-self: flex-end;
  background-color: var(--blue);
  color: white;
  font-weight: bold;
  opacity: 0.9;
  border: 1px solid rgba(12, 58, 77, 0.7);
  border-radius: 3px;
}

#name-email-inputs {
  line-height: 3rem;
}

.media-logos {
  width: 20px;
  margin-right: 10px;
}

footer {
  background-color: var(--blue);
  color: white;
  padding: 15px 0;
  text-align: center;
}

footer h3 {
  font-size: 0.8rem;
  font-weight: 500;
}

.item-card {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  text-align: center;
}

.hide {
  visibility: hidden;
  height: 0;
  margin: 0;
  padding: 0;
  transition: height .3s, padding-top .3s;
  transition-timing-function: ease-in-out;
}

.show {
  visibility: visible;
  transition: height .4s, padding-top .4s;
  transition-timing-function: ease-out;
}

.selected {
  background-color: white !important;
  color: var(--blue) !important;
}

.move-in {
  top: 68px !important;
  animation: menu-in .5s;
}

.move-out {
  top: -190px;
  animation: menu-out .5s;
}

@keyframes menu-in {
  0% {
    opacity: 0;
    top: -190px;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 68px;
  }
}

@keyframes menu-out {
  0% {
    opacity: 1;
    top: 68px;
  }
  40% {
      opacity: 0;
  }
  100% {
    opacity: 0;
    top: -190px;
  }
}

@keyframes menu-open {
  0% {color: #33333300;}
  100% {color: #333333;}
}

@keyframes menu-close {
  0% {color: #33333300;}
  100% {color: #333333;}
}

@media (max-width: 380px) {

  h2 {
    font-size: 1.7rem;
  }

  #what-we-do .slider button {
    padding: 10px;
  }

  #what-we-do .slider-container {
    height: auto;
  }

  #feedbacks {
    padding: 80px 0;
  }

  #feedbacks .slider {
    gap: 0;
  }

  #contact-info li {
    font-size: 1rem;
  }

} 

@media (min-width: 760px) {

  section {
    padding: 8vh 6vw;
  }

  #mobile-menu-icon {
    display: none;
  }

  #nav-bar {
    position: static ;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    padding: 0;
    padding-right: 40px;
    width: 100%;
    box-shadow: none;
  }

  #title {
    height: 100vh;
  }

  #video {
    height: 115vh;
  }

  #company {
    font-size: 1.3rem;
    letter-spacing: 1px;
    line-height: 2.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #company article {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  #company p {
    max-width: 1100px;
  }

  h2 {
    font-size: 2.5rem;
  }

  #what-we-do {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .slider-container {
    flex-direction: row;
    justify-content: space-around;
  }
    
  #prev-btn-services {
    margin-left: 70px;
    margin-right: 0;
  }

  #next-btn-services {
    margin-right: 70px;
    margin-left: 0;
  }

  .service {
    width: 33%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .service p {
    margin-top: 20px;
    width: 100%;
  }

  .service-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .service-img {
    width: 100%;
  }

  #partners-container {
    flex-direction: row;
    gap: 100px;
    flex-wrap: wrap;
    width: 90vw;
  }

  #applications-container {
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 70vw;
  }

  #applications-container .card {
    height: 100px;
    display: flex;
    align-items: center;
  }


  #applications-container .card-parent {
    width: 30%;
  }

  .app-images-container {
    width: 313%;
    max-width: 63.7vw;
  }

  #about {
    flex-direction: row;
    padding-bottom: 0;
  }

  #about-text p {
    font-size: 1.2rem;
    margin-top: 30px;
    line-height: 2rem;
  }

  #shown-feedback p {
    font-size: 1.1rem;
    line-height: 2rem;
  }

  #shown-feedback p::before {
    top: -10px;
    left: -35px;
  }
  
  #shown-feedback h4 {
    font-size: 1.2rem;
  }

  #contact {
    gap: 30px;
  }
  
  #contact-info {
    flex-direction: row-reverse;
    gap: 0;
  }

  #contact-info li {
    font-size: 1.2rem;
  }

  .media-logos {
    width: 25px;
  }
}

@media (min-width: 1024px) {

  h2 {
    font-size: 2.6rem;
  }

  .slider-container img{
    width: 256px;
    height: 232px;
  }

  footer h3 {
    font-size: 1rem;
  }

  #partners {
    padding: 12vh 6vw;
  }

}

@media (min-width: 2000px) {

  * {
    font-size: 20px;
  }

  #company p {
    font-size: 1.3rem;
  }

  footer h3 {
    font-size: 1rem;
  }

}
