:root {
  --yellow: #FABA58;
  --blue: #0C394D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  color: var(--blue);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: sticky;
  top: -1px;
  background-color: white;
  z-index: 1;
  box-shadow: 0 1px 10px rgba(12, 58, 77, 0.4);
}

#logo {
  width: 75px;
  height: auto;
}

#nav-bar {
  background-color: white;
  width: 40vw;
  position: absolute;
  right: 0;
  /* top: -190px; */
  padding: 10px 0 10px 20px;
  box-shadow: -1px 5px 5px rgba(12, 58, 77, 0.4);
}

#nav-bar li {
  list-style: none;
  font-size: 1.1rem;
  line-height: 2.5rem;
}

#nav-bar li a {
  text-decoration: none;
  color: var(--blue)
}

#mobile-menu-icon {
  display: block;
  font-size: 20px;
  text-align: end;
}

.menu-open {
  animation: menu-open .7s;
}

.menu-close {
  animation: menu-close .7s;
}

#title {
  position: relative;
  top: 0;
  display: flex;
  width: 100%;
  height: 50vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#video {
  height: 100%;
}

#logo-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  min-width: 100%;
  height: 100%;
  background-color: rgba(12, 58, 77, 0.6);
  font-size: 2.5rem;
}

#logo-container img {
  max-width: 60%;
}

#company {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 20px 25px;
  text-align: center;
  line-height: 2rem;
}

#company hr {
  width: 50%;
  margin: 25px auto;
  border: 1px solid rgba(12, 58, 77, 0.4);
}

#what-we-do {
  background-color: var(--yellow);
  text-align: center;
  padding: 25px 0;
}

h2 {
  font-size: 2rem;
}

#services-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 50px 0;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.service-img {
  width: 120px;
  height: auto;
  /* border-radius: 50%; */
  /* border: 3px solid var(--blue); */
}

.welding {
  background-image: url('https://avozdaindustria.com.br/sites/cet.com/files/tipos%20de%20solda%20e%20soldagem%20industrial.png');
  background-size: cover;
  background-position: center;
}

.service h3 {
  font-size: 1.4rem;
}

.service p {
  font-size: 1.1rem;
  width: 50%;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 20px 25px;
  text-align: center;
}

#profile-pic img {
  width: 250px;
  height: auto;
  box-shadow: 2px 2px 5px var(--blue);
  border-radius: 50%;
}

#about-text p {
  width: 80%;
  margin: auto;
  margin-top: 15px;
  line-height: 1.3rem;
}

#contact {
  padding: 35px 25px;
  background-color: var(--yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

#contact-info li {
  list-style: none;
  margin-bottom: 10px;
  font-size: 1.1rem;
}

#contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#contact-form input, #contact-form textarea, #contact-form button {
  padding: 5px;
  font-size: 1rem;
  font-family: sans-serif;
  border: 1px solid rgba(128, 128, 128, 0.8);
  border-radius: 3px;
}

#contact-form button:disabled {
  opacity: 0.4;
}

#contact-form button:hover:enabled {
  opacity: 1;
  cursor: pointer;
}

#contact-form button {
  width: 50%;
  align-self: flex-end;
  background-color: var(--blue);
  color: white;
  font-weight: bold;
  opacity: 0.9;
}

.media-logos {
  width: 20px;
  margin-right: 10px;
  margin-top: 8px;
}

footer {
  background-color: var(--blue);
  color: white;
  padding: 15px 0;
  text-align: center;
}

footer h3 {
  font-size: 0.8rem;
  font-weight: 500;
}

.move-in {
  top: 68px;
  animation: menu-in .5s;
}

.move-out {
  top: -190px;
  animation: menu-out .5s;
}

@keyframes menu-in {
    from {opacity: 0;}
    to {opacity: 1;}
  }

@keyframes menu-out {
    from {opacity: 1;}
    to {opacity: 0;}
  }

@keyframes menu-open {
  0% {color: #33333300;}
  100% {color: #333333;}
}

@keyframes menu-close {
  0% {color: #33333300;}
  100% {color: #333333;}
}

@media (min-width: 760px) {

  #mobile-menu-icon {
    display: none;
  }

  #nav-bar {
    position: static ;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    padding: 0;
    padding-right: 40px;
    width: 100%;
    box-shadow: none;
  }

  #title {
    height: 100vh;
  }

  #video {
    height: 115vh;
  }

  #company {
    font-size: 1.3rem;
    padding: 10vh 18vw;
  }

  #company p {
    margin: 6vh 0;
  }

  h2 {
    font-size: 2.5rem;
  }

  #what-we-do {
    padding-top: 50px;
  }

  #services-container {
    flex-direction: row;
    align-items: center;
    gap: 6vw;
  }

  .service {
    width: 33%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .service p {
    width: 100%;
  }

  .service-img-container {
    width: 250px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .service-img {
    width: 100%;
  }

  #gmw {
    width: 55%;
  }

  #about {
    flex-direction: row;
    padding: 10vh 8vw;
  }

  #about-text p {
    font-size: 1.2rem;
    margin-top: 30px;
    line-height: 2rem;
  }

  #contact-info {
    flex-direction: row;
    padding: 8vh 8vw;
  }

  #contact-info li {
    font-size: 1.2rem;
  }

  .media-logos {
    width: 25px;
  }
}

@media (min-width: 1024px) {

  h2 {
    font-size: 2.7rem;
  }

}
